@model PreventWebMVC.Models.Login

@{
    ViewData["Title"] = "Create";
}
<div class="index">
    <h2>Criação de Usuários</h2>

    
</div>
<head>
    <style>
        .row {
            margin-right: 800px;
            margin-top: 20px;
            float: right;
        }
 
        
      
    </style>
</head>

<body>

    <div>
        <div class="itemscentral">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha" class="control-label"></label>
                    <input type="password" asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn myinfo" />
                    <a asp-action="Index">Voltar</a>
                </div>

            </form>

        </div>


    </div>
</body>

